.main-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.small-text{
    display: none;
    position: relative;
}
.active{
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}