*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 500px;
    width: 300px;
    box-shadow: 4px 3px 30px rgba(0,0,0, .3);
    border-radius: 15px;
    background-color: black;
    overflow: hidden;
}

form input{
    width: 100%;
    height: 150px;
    background-color: rgb(12, 0, 0);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(104, 98, 98);
}


button{
    flex: 0 0 22%;
    margin: 3px 0;
    border: 1px solid #000;
    height: 60px;
    width: 50px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
}

.btn-yellow{
    background-color: rgb(240, 240, 121);
    color: rgb(0, 0, 0);
}
.btn-grey{
    background-color: gray;
}
.btn-equal{
    background-color: green;
}
.btn-clear{
    background-color: red;
}